# --- Custom Secret Configs ---
# Exclude the actual files containing secrets
appSettings.config
wcfEndpoints.config

*.secret.config
secrets.config

# Do NOT ignore the templates so others can see the required keys
# Allow templates in app config
!*.template
!*.sample

# --- Databases & Local Data ---
App_Data/
*.mdf
*.ldf

# --- Visual Studio & DotNet ---
bin/
obj/
*.suo
*.userosscache
*.sln.docstates
*.patch
*.tmp

# --- Connected Services ---
# Ignores generated code and metadata for WCF/Web Services
Connected Services/
App_WebReferences/
ClientConfig/
*.svcmap
*.svclog
*.svcinfo
*.datasource

# --- Packages & Publishing ---
packages/
node_modules/
*.publish.xml
*.pubxml
*.pubxml.user
.vs/

# Logs
logs/   

# Environment-specific files
*.env