
# Oracle Connection 

ORACLE_HOST=YOUR HOST NAME
ORACLE_PORT=YOUR PORT
ORACLE_SID=YOUR SID
ORACLE_USERNAME=YOUR USERNAME
ORACLE_PASSWORD=YOUR PASSWORD

# Ias Settings

IAS_USERNAME=YOUR USERNAME
IAS_PASSWORLD=YOUR PASSWORD
IAS_TRANS_NAME=YOUR TRANSACTION NAME
IAS_JUR=YOUR JURISDICTION
# NOTE!! ONLY "Commit", "Save", "Validate" and "ForceCommit" are acceptable SUBMIT_MODE options.	
IAS_SUBMIT_MODE=Save